---
title: Kulinarian.blog
posted: 2015-11-28
rss: false
---

{{#withSort post 'data.posted'}}
    {{#each this.pages }}
        <div class="post-summary">
            <h2><a href="{{ pageUrl this.dest }}">{{ this.data.title }}</a></h2>
            <date>{{ parseDate this.data.posted }}</date>
            <p>{{ this.data.description }} <a href="{{ pageUrl this.dest }}">continue reading...</a></p>
        </div>
    {{/each}}
{{/withSort}}
