---
asset_version: 2-0-5
font_path: /fonts/
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="//www.kulinarian.com/images/identity/favicon.png">

    <style>
        @font-face {
            font-family: 'Lobster';
            font-style: normal;
            font-weight: 400;
            src: url('{{ concat assets font_path }}lobster.otf');
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: url('{{ concat assets font_path }}OpenSans-Regular.ttf');
        }
    </style>

    <link rel="stylesheet" href="{{ asset_cdn }}/css/style{{ asset_version }}.css"/>

    <script>
        var kulinarian_url = 'http://blog.kulinarian.com';
        // domready
        !function(a,ctx,b){typeof module!="undefined"?module.exports=b():typeof define=="function"&&typeof define.amd=="object"?define(b):ctx[a]=b()}("domready",this,function(a){function m(a){l=1;while(a=b.shift())a()}var b=[],c,d=!1,e=document,f=e.documentElement,g=f.doScroll,h="DOMContentLoaded",i="addEventListener",j="onreadystatechange",k="readyState",l=/^loade|c/.test(e[k]);return e[i]&&e[i](h,c=function(){e.removeEventListener(h,c,d),m()},d),g&&e.attachEvent(j,c=function(){/^c/.test(e[k])&&(e.detachEvent(j,c),m())}),a=g?function(c){self!=top?l?c():b.push(c):function(){try{f.doScroll("left")}catch(b){return setTimeout(function(){a(c)},50)}c()}()}:function(a){l?a():b.push(a)}});
    </script>

    {{> ga-analytics }}
</head>
<body>
    <header>
        <div id="masthead">
            <img id="masthead-img" src="{{ asset_cdn }}/images/mastheads/foodiesfeed.com_italian-polenta.jpg" alt="{{ asset_cdn }}/images/mastheads/foodiesfeed.com_italian-polenta.jpg">
        </div>
        <div id="primary-nav">
            <div id="logo-wrap" class="row">
                <div class="small-9 medium-7 columns">
                    <h3 id="k-logo"><a class="k-logo-a" href="{{ site_url }}">Kulinarian</a></h3>
                </div>
                <div id="mobile-menu-btn-wrap" class="small-3 columns show-for-small-only">
                    <button id="mobile-menu-expand" class="small">
                        <svg id="svg-menu">
                            <use xlink:href="#svg-menu"></use>
                        </svg>
                    </button>
                </div>
                <div id="top-info-pg-wrap" class="small-12 medium-5 columns show-for-medium-up">
                    <a class="top-info-pg" href="{{ site_url contact }}">Contact Us</a>
                    <a class="top-info-pg" href="{{ site_url aboutus }}">About</a>
                    <a class="top-info-pg" href="{{ site_url info/frequently-asked-questions }}">FAQ</a>
                </div>
            </div>

            <div id="tab-wing-wrap">
                <div class="tab-wing tab-wing-left show-for-medium-up"></div>
                <div class="tab-wing tab-wing-right show-for-medium-up"></div>
            </div>

            <div id="top-nav-wrap" class="row">
                
                <div id="search-bar" class="small-12 medium-5 columns" style="padding-right:.8125em;">
                    <div class="row">
                        <div class="small-12 columns">
                            <div id="search-bar-wrap">
                                
                            </div>                    
                        </div>
                    </div>
                </div>
                
                <div id="top-nav-tabs" class="small-12 medium-7 columns hide-mobile-menu">
                    <div class="row">                        
                        <div class="small-12 medium-3 columns top-nav-col">
                            <div class="top-nav-sub-wrap">
                                <button class="top-nav-tab">Create</button>
                            </div>
                        </div>
                        <div class="small-12 medium-3 columns top-nav-col">
                            <div class="top-nav-sub-wrap">
                                <button class="top-nav-tab">Recipes</button>
                            </div>
                        </div>
                        <div class="small-12 medium-3 columns top-nav-col">
                            <div class="top-nav-sub-wrap">
                                <button class="top-nav-tab">Categories</button>
                            </div>
                        </div>
                        <div class="small-12 medium-3 columns right top-nav-col">
                            <button id="un-btn" class="top-nav-tab"><span id="top-nav-un">User</span></button>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </header>

    <footer></footer>
    <script type="text/javascript" src="{{ asset_cdn }}/js/kulinarian{{ asset_version }}.min.js"></script>
</body>
</html>