---
asset_version: 2-0-8
font_path: /fonts/
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="//www.kulinarian.com/images/identity/favicon.png">
    <title>{{ title }}</title>

    <style>
        @font-face {
            font-family: 'Lobster';
            font-style: normal;
            font-weight: 400;
            src: url('{{ concat assets font_path }}lobster.otf');
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: url('{{ concat assets font_path }}OpenSans-Regular.ttf');
        }
    </style>

    <link rel="stylesheet" href="{{ assetCdn }}/css/style{{ asset_version }}.css"/>
    <link rel="stylesheet" href="{{ siteUrl '/css/blog-style.css' }}"/>

    <script>
        var kulinarian_url = 'http://blog.kulinarian.com';
        // domready
        !function(a,ctx,b){typeof module!="undefined"?module.exports=b():typeof define=="function"&&typeof define.amd=="object"?define(b):ctx[a]=b()}("domready",this,function(a){function m(a){l=1;while(a=b.shift())a()}var b=[],c,d=!1,e=document,f=e.documentElement,g=f.doScroll,h="DOMContentLoaded",i="addEventListener",j="onreadystatechange",k="readyState",l=/^loade|c/.test(e[k]);return e[i]&&e[i](h,c=function(){e.removeEventListener(h,c,d),m()},d),g&&e.attachEvent(j,c=function(){/^c/.test(e[k])&&(e.detachEvent(j,c),m())}),a=g?function(c){self!=top?l?c():b.push(c):function(){try{f.doScroll("left")}catch(b){return setTimeout(function(){a(c)},50)}c()}()}:function(a){l?a():b.push(a)}});
    </script>

    {{> ga-analytics }}
</head>
<body>
    {{> svg-icons }}
    <header>
        <div id="masthead">
            <img id="masthead-img" src="{{ assetCdn }}/images/mastheads/foodiesfeed.com_italian-polenta.jpg" alt="{{ assetCdn }}/images/mastheads/foodiesfeed.com_italian-polenta.jpg">
        </div>
        <div id="primary-nav">
            <div id="logo-wrap" class="row">
                <div class="small-9 medium-7 columns">
                    <h3 id="k-logo"><a class="k-logo-a" href="{{ siteUrl }}">Kulinarian Blog</a></h3>
                </div>
                <div id="mobile-menu-btn-wrap" class="small-3 columns show-for-small-only">
                    <button id="mobile-menu-expand" class="small">
                        <svg id="svg-menu">
                            <use xlink:href="#svg-menu"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div id="tab-wing-wrap">
                <div class="tab-wing tab-wing-left show-for-medium-up"></div>
                <div class="tab-wing tab-wing-right show-for-medium-up"></div>
            </div>

            <div id="top-nav-wrap" class="row">
                <div id="top-nav-tabs" class="small-12 medium-12 columns hide-mobile-menu">
                    <div class="row">                        
                        <div class="small-12 medium-3 columns top-nav-col">
                            <a href="{{ appUrl 'recipes' true }}"><button class="top-nav-tab">Recipes</button></a>
                        </div>
                        <div class="small-12 medium-3 columns top-nav-col">
                            <a href="{{ appUrl 'aboutus' true }}"><button class="top-nav-tab">About</button></a>
                        </div>
                        <div class="small-12 medium-3 columns top-nav-col">
                            <a href="{{ appUrl 'contact' true }}"><button class="top-nav-tab">Contact Us</button></a>
                        </div>
                        <div class="small-12 medium-3 columns end top-nav-col">
                            <a href="{{ appUrl '' true }}"><button class="top-nav-tab">kulinarian</button></a>
                        </div>
                    </div>
                </div>
            </div>
        <div>
    </header>

    <div id="main-wrap" class="row main-wrap">
        <div class="small-12 medium-8 columns">
            {{> body }}
        </div>
        <div class="small-12 medium-4 columns">
            <h3>Recent Posts</h3>
            <ul id="recent-list">
                {{#withSort post 'data.posted'}}
                    {{#each this.pages }}
                        <li><a href="{{ pageUrl this.dest }}">{{ this.data.title }}</a></li>
                    {{/each}}
                {{/withSort}}
            </ul>
        </div>
    </div>

    <footer><div class="row"><div class="small-12 medium-6 columns"><p class="footer-p">© 2012 - 2015 <em>Kulinarian.com</em></p><a class="footer-a" href="https://www.kulinarian.com/login">Login</a><a class="footer-a" href="https://www.kulinarian.com/login">Register</a><a class="footer-a" href="https://www.kulinarian.com/contact">Contact Us</a><a class="footer-a" href="https://www.kulinarian.com/aboutus">About</a><a class="footer-a" href="https://www.kulinarian.com/privacypolicy">Privacy Policy</a><a class="footer-a" href="https://www.kulinarian.com/termsofservice">Terms Of Service</a><a class="footer-a" href="https://www.kulinarian.com/privacypolicy#cookies">Cookies</a><a class="footer-a" href="https://plus.google.com/106562811761956759090" rel="publisher">Google+</a><a class="footer-a" href="https://twitter.com/Kulinarian" rel="publisher">Twitter</a><a class="footer-a" href="https://www.facebook.com/Kulinarian" rel="publisher">Facebook</a><a class="footer-a" href="http://www.pinterest.com/kulinarian/" rel="publisher">Pinterest</a></div><div id="footer-address" class="small-12 medium-3 columns"><div itemscope="" itemtype="http://schema.org/Organization"><p class="adrs-p"><a itemprop="name" href="mailto:info@kulinarian.com">info@kulinarian.com</a></p><div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><p class="adrs-p">Main Address:</p><p class="adrs-p" itemprop="streetAddress">807 E. Baltimore St.</p><p class="adrs-p"><span itemprop="addressLocality">Baltimore, MD </span><span itemprop="postalCode">21202</span></p></div></div></div><div class="small-12 medium-3 columns"><a id="f-mwl" href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a><br><a class="footer-a" href="https://www.kulinarian.com/built-in-baltimore">About Kulinarian.com</a></div></div></footer>

    <script type="text/javascript" src="{{ assetCdn }}/js/kulinarian{{ asset_version }}.min.js"></script>
</body>
</html>
